.dg.ac{

	right: auto !important;
	left: 0 !important;
	z-index: 10000 !important;

	li.color .selector{
		width: 124px !important;
	}
}

body{
	// background-image: url(../images/_tmp/mobile/22.News.jpg);
	background-repeat: no-repeat;
	background-position-y: -124px;
	// width: 966px;
	// height: 720px;
}